* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.abc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    color: white;
    padding: 20px 50px;
}

.logo {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;

}

.nav a:hover {
    text-decoration: underline;

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    background-color: whitesmoke;
    flex-wrap: wrap;
}

.first-left img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

.first-left img:hover {
    transform: scale(2.5);
}

.first-right {
    margin-left: 40px;
    max-width: 500px;
}

.first-right h1 {
    font-size: 2rem;
    color: #222;
}

.first-right span {
    color: slategrey;
}

.first-right p {
    margin: 30px 0;
    color: #555;

}

.button {
    background-color: darkslategrey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #555;
    transform: scale(1.05);

}
.second{
    text-align: center;
    padding: 60px 10%;
}

.second-one{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.s1{
    background-color:teal ;
    color: white;
    padding: 30px;
    width: 180px;
    border-radius: 10px;
    transition: 0.5s;

}
.s1:hover{
    background-color: turquoise;
    transform: scale(1.2);

}
.third{
    background-color:azure;
    text-align: center;
    padding: 60px 10%;
}
.third-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px ;
}
.project{
    background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  width: 250px;
  transition: 0.3s;
}

.project:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transform: translateY(-5px);
    
}

.fourth{
    background-color: teal;
    padding: 70px 0;
}

.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 40px;
    width: 85%;
    margin: auto;
}

.world{
    flex: 1 1 350px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transition: 0.4 ease;
    text-align: center;
}
.world:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.world h2{
    color: teal;
    margin-bottom: 20px;
    border-bottom: 3px solid turquoise;
    display: inline-block;
    padding-bottom: 5px;
}
.world input,
.world textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid bisque;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 14px;
}
.world input:focus,
.world textarea:focus{
    border-color: teal;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 255, 123, 0.3);
}

.world button{
    width: 100%;
    background-color: teal;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
.world button:hover{
    background-color: turquoise;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    
}