* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    background: url('https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?semt=ais_hybrid&w=740&q=80') 
    no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.grand{
    background-color: #878C2D;
    padding: 40px;
    border-radius: 5px;
    width: 350px;
    text-align: center;
}
h1{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.form-group{
    position: relative;
    margin-bottom: 15px;
}
.form-group input{
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    color: #333;
}
.form-group i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}
.btn{
    background-color: slategray;
    color: #fff;
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover{
    background-color:lightgray ;
    color: #555;

}