body{
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.top-banner{
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    gap: 10px;
}
.top-logo{
    height: 50px;
}
.top-item{
    height: 50px;
}

.top-banner :hover{
    background-color: #fff;
    transition: 0.3s;
    transform: scale(0.9);
}

/* navbar */
.navbar{
    font-weight: 500;
    border-bottom: 1px solid #ddd;

}

.nav-link {
  color: #555 !important;
  padding: 10px 15px;
  transition: 0.3s;
}
.nav-link:hover {
  color: #d63b3b !important;
}
.nav-link.active {
  background-color: #f0f0f0;
  border-radius: 3px;
  border-bottom: 2px solid #d63b3b;
  color: #d63b3b !important;
}
/* color bar  */
.color-bar{
  height: 4px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

/* cards  */
.card-img-top{
   border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  

}
.card-body{
   border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}